.cls-1 {
  isolation: isolate;
}
.cls-2 {
  fill: #a8d8ea;
}
.cls-3 {
  fill: #8acdeb;
}
.cls-4 {
  fill: #4392cb;
}
.cls-5 {
  fill: #589ad3;
}
.cls-6 {
  mix-blend-mode: screen;
}
.cls-7 {
  mix-blend-mode: multiply;
}
.cls-8 {
  fill: #2c7abf;
}
.cls-9 {
  fill: #1976b8;
}
